<!DOCTYPE html>
<html>
    <head>
        <title>My first flask webpage</title>
    </head>

    <body>
        <h3>Hi, i am {{name}}</h3>
        <form>
            <label for = "fname">first name:</label>
            <input type = "text" id = "fname" name = "fname">
            <br><br><br>
            <label for = "lname">last name:</label>
            <input type = "text" id = "lname" name = "lname">
            <br><br><br>
        </form>
        <button type = "button">Click me!</button>
    </body>
</html>